* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.flexbox-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: lightblue;
}

.flexbox-container-2 {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: snow;
  margin-top: 30px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(34, 37, 41);
  text-shadow: 1px 1px 1px snow;
}

.flexbox-item {
  margin: 3rem;
  border: none;
  flex-shrink: 0;
}

.quote-button {
  border-radius: 0.5rem;
  background-color: rgb(43, 113, 244);
  font-size: 2rem;
  font-weight: 500;
  color: snow;
  width: 12rem;
  height: 4rem;
}

.quote-button:hover {
  box-shadow: 0px 0px 0.25rem 0.125rem rgb(43, 113, 244, 0.5);
  cursor: pointer;
}

.list-style {
  list-style: none;
}

.list-style > p {
  color: grey;
}
@media screen and (min-width: 500px) {
  .flexbox-item {
    margin: 2rem;
  }
  .list-style {
    font-size: 3rem;
  }
  .list-style > p {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .flexbox-container {
    justify-content: space-around;
  }
  h1 {
    font-size: 2rem;
  }
  .quote-button {
    font-size: 1.5rem;
    font-weight: 400;
    width: 10rem;
    height: 3.5rem;
  }
  .list-style {
    font-size: 2.25rem;
  }
  .list-style > p {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1400px) {
  .flexbox-container {
    justify-content: space-between;
  }
  h1 {
    font-size: 1.5rem;
  }
  .quote-button {
    font-size: 1.25rem;
    font-weight: 400;
    width: 7.5rem;
    height: 3rem;
  }
  .list-style {
    font-size: 1.5rem;
  }
  .list-style > p {
    font-size: 1rem;
  }
}
